* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f8fa;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: linear-gradient(to right, #506D91, #6C84A5);
    padding: 10px 20px;
    text-align: center;
    font-family: "Darumadrop One", serif;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.logo {
    font-size: clamp(2em, 4vw, 2.5em);
    margin-bottom: 11px;
    cursor: pointer;
}

.login-btn {
    background: #dee2e6;
    color: #5b6d8e;
    border: none;
    padding: 8px 15px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.login-btn:hover {
    background: #cdd3db;
    transform: scale(1.05);
}

.header_sub_nav_vtuber {
    display: none;
}

/* @media (max-width: 768px) {
    .login-btn {
        padding: 6px 12px;
        font-size: 0.9em;
    }
} */

@media (max-width: 991.98px) {
    .login-btn {
        display: none;
    }

    .header_nav {
        display: none;
    }

    #navbar_burger {
        display: flex;
        cursor: pointer;
    }

    .forPC {
        display: none;
    }

    .forMobile {
        display: revert;
    }


    .navbar_burger_back {
        position: fixed;
        top: 1.5rem;
        right: 3rem;
        cursor: pointer;
        color: #fff;
    }

    .hamburger_nav {
        font-family: 'Roboto', sans-serif;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: #0e0e0e;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transform: translateX(100%);
        z-index: 999;
        color: #000;
        opacity: 80%;
        transition: transform 0.3s ease;
    }

    .hamburger_nav a {
        position: relative;
        color: #ffffff;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-bottom: 3rem;
        text-decoration: none;
    }

    .hamburger_nav a:hover,
    .hamburger_nav a.active {
        text-decoration: underline;
    }

    .hamburger_nav.active {
        transform: translateX(0);
    }

    .login-btn-hamburger {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #b7b7b7;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
        opacity: 60%;
    }

    .login-btn-hamburger:hover {
        text-decoration: underline;
    }

    .dropdown-content {
        position: relative;
        display: block;
        max-height: 0;
        overflow: hidden;
        min-width: 140px;
        z-index: 15;
        padding: 0 1rem;
        margin-top: -3rem;
        margin-bottom: 3rem;
        transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    }

    .dropdown-content.active {
        max-height: 500px;
        padding: 1rem 1rem 0;
    }

    .dropdown-content a {
        color: #f9f9f9;
        padding: 6px 16px;
        text-decoration: none;
        display: flex;
        width: 162px;
        padding-left: 0;
        font-size: 1.1rem;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media (min-width: 992px) {
    .hamburger_nav {
        display: none;
    }

    #navbar_burger {
        display: none;
    }

    .forPC {
        display: revert;
    }

    .forMobile {
        display: none;
    }

    .header_nav {
        display: flex;
        justify-content: center;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }

    .header_nav a {
        color: #333;
        text-decoration: none;
        padding: 15px 20px;
        transition: background 0.3s;
        font-weight: 600;
        cursor: pointer;
    }

    .header_nav a:hover,
    .header_nav a.active {
        background-color: #e5e7eb;
    }

    .header_sub_nav_vtuber {
        display: flex;
        justify-content: center;
        background-color: #f0f5ff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        line-height: 10px;
        height: 0;
    }

    .header_sub_nav_vtuber a {
        color: #2a4365;
        text-decoration: none;
        padding: 12px 20px;
        font-size: 1em;
        font-weight: 500;
        transition: background 0.3s, color 0.3s;
    }

    .header_sub_nav_vtuber.active {
        border-bottom: 2px solid #a3bffa;
        height: auto;
        transition: height 5s ease-out;
    }

    .header_sub_nav_vtuber a:hover,
    .header_sub_nav_vtuber .active {
        background-color: #c8dafc;
        color: #1e2a47;
        border-radius: 5px;
    }
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #6b7280;
    color: #fff;
    font-size: 0.9em;
}