main {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.anime-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    border: 1px solid #e5e7eb;
}

.anime-card:hover {
    transform: translateY(-10px);
}

.anime-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.anime-card:hover img {
    transform: scale(1.1);
    /* 이미지 확대 */
    filter: blur(2px) brightness(0.5);
    /* 흐릿하고 어두워짐 */
}

.anime-card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;



    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
}

.anime-card .title {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.anime-card .subtitle {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    color: #f9fafb;
    /* 밝고 깔끔한 색상 */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    /* 부드럽지만 강한 그림자 */
    letter-spacing: 1px;
    /* 적당한 간격 */
    opacity: 0.9;
    /* 조금 더 부드럽게 */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.anime-card:hover .subtitle {
    opacity: 1;
    /* 마우스 오버 시 투명도 증가 */
    transform: translateY(0);
    /* 마우스 오버 시 살짝 움직이는 효과 */
}

.anime-card .description {
    font-size: 1em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    opacity: 0;
    max-height: 0;
    /* 처음엔 높이를 0으로 설정 */
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.anime-card:hover .description {
    opacity: 1;
    /* 마우스 오버 시 서서히 나타남 */
    max-height: 100px;
    /* 충분한 높이 설정 (내용에 따라 조절) */
}
